<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee
                             githttp://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Expense Manager Web</display-name>

    <servlet>
        <servlet-name>ExpenseServlet</servlet-name>
        <servlet-class>servlet.ExpenseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExpenseServlet</servlet-name>
        <url-pattern>/expenses</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>jsp/viewExpenses.jsp</welcome-file>
    </welcome-file-list>

</web-app>
